<?xml version="1.0" encoding="UTF-8"?>
<plugin>

 <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.redsalt.e4swt.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.redsalt.e4swt.app/css/default.css">
         </property>
         <property
               name="appName"
               value="org.redsalt.e4swt.app">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/org.redsalt.e4.ui.common/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="org.redsalt.e4swt.app.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragmentSWT.e4xmi">
      </fragment>
   </extension>

</plugin>
