<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.fx.ui.workbench.fx.application"
            name="Common Product">
         <property
               name="applicationXMI"
               value="org.redsalt.e4.ui.common/Application.e4xmi">
         </property>
         <property
               name="appName"
               value="bla">
         </property>
      </product>
   </extension>

</plugin>
